[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-webpack-loader = "*"
djangorestframework = "*"
django = "*"
pylint = "*"
astroid = "*"
dataclasses = "*"
django-cors-headers = "*"
pytz = "*"
six = "*"
djongo = "*"

[requires]
python_version = "3.8"
