#header{
    margin-bottom: 0px;
}
#iconNotification{
    font-size: 23px;
    color: #fff;
}
#modalNoti{
    transform: translate(0, 15%);
    position: relative;
    float: right;
    background: rgb(145, 170, 182);
    margin: 4.0rem 1rem;
    animation-duration: 0s;
}
.dropdown-toggle.custom:after {
    color: transparent;
}

/* #floating{
    position: absolute;
}*/
@media screen and (max-width: 991px) {
    #iconNotification{
        font-size: 20px;
    }
} 