select.form-control option, select.form-control option:hover, select.form-control option:focus {
    background: #27293d;
}

.hidden { display:none; }

.card-chart .chart-area.custom {
    height: 250px;
}

.react-datepicker__input-container input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    color: #dadada;
    font-size: 18px;
    width: 70%;
}

.react-datepicker {
    border-radius: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}
.react-datepicker__header {
    background-color: #f1f1f1;
}
.react-datepicker__month {
    background-color: #f1f1f1;
    margin: 0;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range,
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(#a85bd5), to(#8b1acc));
    background-image: -webkit-linear-gradient(right, #a85bd5, #8b1acc);
    background-image: linear-gradient(-90deg, #a85bd5, #8b1acc);
}
.react-datepicker__portal .react-datepicker__navigation--next
{
    border-left-color: #8b1acc;
}
.react-datepicker__portal .react-datepicker__navigation--previous
{
    border-right-color: #8b1acc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming, 
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming, 
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming ,
.react-datepicker__year-option .react-datepicker__navigation--years-upcoming, 
.react-datepicker__month-option .react-datepicker__navigation--years-upcoming, 
.react-datepicker__month-year-option .react-datepicker__navigation--years-upcoming {
    border-bottom-color: #8b1acc;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous, 
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous, 
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__year-option .react-datepicker__navigation--years-previous, 
.react-datepicker__month-option .react-datepicker__navigation--years-previous, 
.react-datepicker__month-year-option .react-datepicker__navigation--years-previous {
    border-top-color: #8b1acc;
}
.react-datepicker__day--outside-month {
    color: #6e7e86;
}

@media (min-width: 768px) { 
    .card-chart .chart-area.custom {
        height: 345px;
    }
}